:root {
    // COLORS
    --color-dark-blue: #172755;
    --color-darkest-blue: #0f1f4b;
    --color-medium-blue: #2a407c;
    --color-light-blue: #0088f0;
    --color-dark-gray: #8794ba;
    --color-light-gray: #eeeef7;
    --color-lighter-gray: #d3d9e9;
    --color-pink: #ef2a82;
    --color-white: #fff;
    --color-black: #000;

    // FONTS

    // FAMILY
    --font-default: "Roboto", sans-serif;

    // WEIGHT
    --fw-s: 300;
    --fw-n: 400;
    --fw-m: 500;
    --fw-b: 700;
}

// BREAKPOINTS

// BOX-SHADOWS COLORS
$color-black: #000;
$color-pink: #ef2a82;
$color-dark-blue: #172755; ;
