@use "../abstracts" as *;
.wrapper {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content repeat(3, min-content);
    overflow: hidden;

    @include rwd(t-sml-l) {
        grid-template-columns: repeat(12, [col-start] 1fr);
        grid-template-rows: 100vh repeat(3, min-content);
    }
}
