@use "../abstracts" as *;

.header {
    position: relative;

    overflow: hidden;

    width: 100%;
    padding: 0 1rem;

    background-color: var(--color-dark-blue);
    border-bottom: 2rem solid var(--color-pink);

    background-image: url(../../SVG/Substract-2.svg);
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: bottom right;

    color: var(--color-light-gray);

    @include rwd(t-sml-p) {
        padding-left: clamp(2rem, 5vw, 22rem);
        padding-right: clamp(2rem, 5vw, 22rem);
    }

    @include rwd(t-sml-l) {
        grid-column: 1 / 13;
        grid-row: 1 / 2;
    }

    &__description {
        padding: 10rem 2rem 6rem 2rem;
        width: 100%;

        @include rwd(m-med-p) {
            padding: 10rem 4rem 6rem 4rem;
        }

        @include rwd(t-sml-p) {
            padding: 10rem 6rem 6rem 6rem;
        }

        @include rwd(t-med-p) {
            padding: 10rem 10rem 6rem 10rem;
        }

        @include rwd(t-sml-l) {
            text-align: left;
            width: 50vw;
            padding: 10rem 7rem 10rem 6rem;
        }
    }

    &__background-1 {
        position: absolute;
        top: -15rem;
        left: -5rem;

        width: 60%;
        height: 60%;
    }
}
