@use "../abstracts" as *;

.nav {
    &__logo {
        // transform: translateX(4rem);

        max-width: 40%;
        height: 80%;
        margin-left: 1rem;

        @include rwd(m-med-p) {
            max-width: 30%;
        }

        @include rwd(t-sml-p) {
            max-width: 25%;
        }

        @include rwd(t-sml-l) {
            // max-width: 15%;
            width: 22%;
            height: 100%;
            margin-left: 0.5rem;
            align-self: flex-end;
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 12rem 2rem 2rem 2rem;

        width: 100%;

        opacity: 0;
        visibility: hidden;

        @include rwd(t-sml-l) {
            padding: 0;
            margin: 0;
            // flex-basis: 20%;
            flex-grow: 1;

            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 2rem;

            opacity: 1;
            visibility: visible;
        }

        &--mobile {
            margin-top: 2rem;
            @include rwd(t-sml-l) {
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    &__link:link,
    &__link:visited {
        font-size: 1.4rem;
        color: var(--color-white);
    }
}
