@use "../abstracts" as *;

.nav {
    &__logo {
        transform: translateX(-4rem);

        max-width: 40%;
        height: 80%;
        margin-left: 1rem;

        @include rwd(m-med-p) {
            max-width: 30%;
        }

        @include rwd(t-sml-p) {
            max-width: 25%;
        }

        @include rwd(t-sml-l) {
            // max-width: 15%;
            width: 30rem;
            height: 100%;
            margin-left: 0.5rem;
            align-self: flex-end;
        }
    }

    &__buttons {
        padding: 12rem 2rem 2rem 2rem;
        margin: 0 auto;

        @include rwd(t-sml-l) {
            padding: 0;
            margin: 0;
        }
    }

    &__link:link,
    &__link:visited {
        font-size: 1.4rem;
        color: var(--color-white);
    }
}
