@use "../abstracts" as *;
// LIST SYTLING

.nav {
    // display: inline-flex;
    display: flex;
    align-items: center;

    position: relative;
    margin-top: 1rem;
    width: 100%;
    height: 6rem;

    @include rwd(t-sml-l) {
        // justify-content: flex-start;
        // align-items: center;
        // gap: 2rem;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        position: fixed;
        top: 0;
        right: 0;
        background-color: rgba(23, 39, 85, 0.95);

        padding-top: 30%;

        height: 100%;
        width: 0;

        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;

        overflow: hidden;
        transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

        @include rwd(t-sml-l) {
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            position: static;

            height: 5rem;
            width: 100%;
            padding: 0;
            margin-left: 1rem;

            transform: translateX(-5rem);
            opacity: 1;
            visibility: visible;
            background-color: transparent;

            transition: none;
        }
    }

    &__item {
        position: relative;

        margin-right: 3rem;

        list-style: none;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 4rem;
        }

        @include rwd(t-sml-l) {
            position: relative;

            &:not(:last-child) {
                margin-bottom: 0;
                margin-left: 0.2rem;

                @include rwd(t-sml-l) {
                    margin: 0;
                    margin-left: 3rem;
                }
            }
        }

        &::before {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            width: 0;
            height: 100%;
            background-color: var(--color-pink);
            transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);

            @include rwd(t-sml-l) {
                left: 0;
            }
        }

        &:hover::before {
            width: 100%;
            box-shadow: 5px 1rem 1px rgba(239, 42, 130, 0.4);
            transform: translate(-2rem, -1rem);

            //  *Nadaje efekt neonowy na element (wykorzystaj do social icons
            //! filter: drop-shadow(1rem 2rem 3rem rgb(239, 42, 130));

            @include rwd(t-sml-l) {
                transform: translate(0, 0);
                box-shadow: none;
            }
        }
    }

    // ! --> ABY CONTENT BUTTONA BYŁ NAD SLIDEM TRZEBA NADAĆ POSITION:RELATIVE

    &__link:link,
    &__link:visited {
        display: inline-block;
        position: relative;
        padding: 1rem 3rem;

        color: var(--color-pink);
        font-size: 2.5rem;

        z-index: 20;
        transition: all 0.8s;

        @include rwd(t-sml-l) {
            display: inline-block;
            position: relative;
            padding: 1rem 1.5rem;

            color: var(--color-pink);
            font-size: 1.6rem;

            z-index: 20;
            transition: all 0.8s;
        }
    }

    &__item:hover > &__link {
        color: var(--color-dark-blue);
        transform: translate(-2rem, -1rem);

        @include rwd(t-sml-l) {
            transform: translate(0, 0);
        }
    }
}

// BURGER BUTTON

.hamburger-menu {
    &__toggle,
    &__button {
        @include rwd(t-sml-l) {
            opacity: 0;
            visibility: hidden;
            z-index: 0;
            position: static;
        }
    }

    &__toggle {
        position: absolute;
        top: 3rem;
        right: 3rem;
        z-index: 50;
        opacity: 0;
    }

    &__button {
        display: inline-block;
        position: absolute;
        top: 1rem;
        right: 1rem;

        height: 5rem;
        width: 5rem;

        background-color: transparent;
        cursor: pointer;
        z-index: 2000;
    }
}

// HAMBURGER MENU

.hamburger-menu__toggle:checked ~ .nav__list {
    transform: none;
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.burger-menu {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

    height: 0.3rem;
    width: 4rem;
    background-color: var(--color-pink);

    &::before,
    &::after {
        content: "";
        display: block;
        height: 0.3rem;
        width: 4rem;
        background-color: var(--color-pink);
        position: absolute;
        transform-origin: center;

        transition: all 0.4s;
    }

    &::before {
        top: -1rem;
    }

    &::after {
        top: 1rem;
    }
}

// HAMBURGER FUNCIONALITY

.hamburger-menu__toggle:checked ~ .nav {
    transform: none;
    width: 100%;
    visibility: visible;
}

.hamburger-menu__toggle:checked + .hamburger-menu__button .burger-menu {
    background-color: transparent;
    position: fixed;
    top: 3.5rem;
    right: 3.5rem;
}

.hamburger-menu__toggle:checked + .hamburger-menu__button .burger-menu::before {
    // transform: rotate(45deg) translateX(1rem);
    transform: rotate(-45deg);
    top: 0;
}

.hamburger-menu__toggle:checked + .hamburger-menu__button .burger-menu::after {
    // transform: rotate(-45deg) translateX(1rem);
    transform: rotate(45deg);
    top: 0;
}
